.heading {
  color: #4a3637;
}

body{
  background-color: #f9f9f9;
}
.sidebar {
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sidebar-header {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-menu li {
  margin-bottom: 5px;
  padding: 10px 20px;
  width: 300px; /* Set a fixed width for the menu items */
  height: 50px;
  
}

.sidebar-menu a {
  color: #4a3637;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  display: block;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.sidebar a {
  color: #000;
  padding: 10px 15px;
  border-radius: 4px;

}

.sidebar-menu a:hover {
  background-color: #4a3637;
  color: #fff;
  background-size: 50px 50px;


}

.sidebar-menu li.active a {
  background-color: #4a3637;
  color: #fff;
}

.sidebar-menu li.active a:hover {
  background-color: #4a3637;
}